body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #555;
}

footer{
    margin-top: 1%;
    background-color: #333333;
    color: #FFFFFF
}
.container-fluid{
    background-color: #333333;
}

a:link{
    color: #FFFFFF;
}

.navbar-collapse{
    display: flex;
    justify-content: flex-end;
}

h2, h3, h4 {
    margin: 2%;
}

p{
    font-size: x-small;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: 50%;
}

input, select {
    margin: 1%;
    border-radius: 1rem;
    border-style: none;
    padding: 1rem;
}

.cardsDescuentos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    max-width: 70%;
}

.card {
    background-color: #ffffff;
    flex-direction: column;
    border-style: solid;
    margin: 2%;
    margin-bottom: 0;
    padding: 1%;
    min-width: 10rem;
}

.estudiante,.trainee {
    border-color: skyblue;
}

.junior {
    border-color: gold;
}

#borrar, #calcular, #categoria {
    padding-left: 15%;
    padding-right: 15%;
}

.inline {
    display: flex;
    justify-content: space-around;
}